#TA
{border-radius: 15px;
background-color: gray;
padding: 25px}
#Edu
 {border-radius: 15px;
background-color: gray;
padding: 25px;}
#HB 
{border-radius: 15px;
background-color: gray;
padding: 15px}
#DP 
{border-radius: 15px;
background-color: grey;
padding: 25px}
#SK
{border-radius: 15px;
background-color: grey;
padding: 25px}


#h1 {padding: 15px;}



#Foto > h2 {border-radius: 15px;
width: 500px;}
